h1 {
    color: black;
    padding: 0.2rem;
}

h3 {
    text-align: center;
    margin-top: 5%;
}

h5 {
    text-decoration: underline;
}

footer {
    position: sticky;
}

img {
    width: 60%;
    height: 60%;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

li {
    list-style-type: none;
}

.welcome {
    background-color: #C9CCD5;
}
/* 
.navbar-toggler-icon {
    color: black;
} */

.navbar-brand {
    font-size: xx-large;
    color: #e86ac6;
    padding: 1rem;
    margin-left: 0.2rem;
}

.nav-link {
    text-decoration: none;
    font-size: large;
    color: black;
    padding: 1rem;
    margin-left: 0.2rem;
}

/* .navbar-toggler-icon {
    color: black;
} */
.author {
    color: #e86ac6;
}

.socials {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    color: black;
}

.treatment-title {
    padding-top: 10px;
    margin-top: 1px;
    text-align: center;
}

.card {
    padding: 1%;
    margin-top: 4%;
    height: 85%;
}

.card-body {
    padding: 3%;
}

.card-body > a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding-top: 1%;
    padding-left: 30%;
}

.card-body > a:hover, .navbar-brand:hover, .nav-link:hover, .socials:hover {
    color: #5D6D5B;
}

.opening-hours {
    color: black;
}

.tx-body {
    width: 80%;
    background-color: whitesmoke;
    padding: 7%;
    margin: 2%;
}

.tx-text {
    font-size: 100px;
    text-align: justify;
}

.booking-container {
    height: 80vh;
    width: 80vw;
}

.booking-info {
    text-align: center;
    padding: 1%;
    margin-bottom: 1%;
    border: 1px solid gray;
}

.booking-page {
    height: 80vh;
}
/* 
@media (max-width: 991.98px) {
    .navbar {
        float: left;
    }
} */
