{% extends 'base.html' %}
{% block content %}
<div class="col-md-4 card mb-4  mt-3 ">
    <div class="card-body">
        
        {% if user.is_authenticated %}
        <h3>Book an Appointment</h3>
        <form method="POST" style="margin-top: 1.3em;">
            {{ booking_form }}
            {% csrf_token %}
            <button type="submit" class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% else %}
        <h3>
            <a href="#">Log in to book an appointment</a> 
        </h3>
        {% endif %}

    </div>
</div>
{% endblock %}