{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="col-md-6 card mb-4  mt-3 offset-3">
        <div class="card-body">
            <h3>Edit Appointment</h3>
            <aside>Please input your date as MM/DD/YYYY</aside>
            <form action="{% url 'edit_bookings' %}" method="POST" style="margin-top: 1.3em;">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-signup">Click To Change Your Appointment</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}