{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% for treatment in object_list %}
        <div class="col-sm-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ treatment.title }}</h3>
                    <a href="{% url 'treatment_detail' treatment.slug %}">Treatment Details</a>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
        {% endif %}
        {% endfor %}
    </div>
    <div class="col-12 d-flex justify-content-center">
        <h5>About Us</h5>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <p>
            Welcome to SpaBookings! We offer a variety of treatments for you to choose from. 
            These treatments range from 30 minute appointments to 1 hour appointments and include Massage, 
            Facials and Nail Treatments. Feel free to have a look at the treatment descriptions and if you 
            would like to book an appointment with us, all you need to do is Sign Up or Log In to do this. 
            We aim to accommodate times and days that suit you, so when you fill in the treatment request 
            form, we will cal you to confirm the time and appointment that suits your schedule.
        </p>
    </div>
</div>
{% endblock %}