<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spa Bookings</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <nav>
                        <a href="#">SpaBookings</a>
                        <a href="#">Book Your Treatment</a>
                        <a href="#">Your Treatments</a>
                        <a href="#">Update or Cancel Your Booking</a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main>
        {}
        {}
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Website by Marina</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>