{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="treatment-title">{{ treatment.title }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="tx-body">
                <p class="tx-text ">
                    {{ treatment.description | safe }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}