{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="treatment-title">{{ treatment.title }}</h1>
        </div>
        <div class="col">
            {% if "placeholder" in post.featured_image.url %}
            <img src="#" alt="">
            {% else %}
            <img src=" {{ post.featured_image.url }}">
            {% endif %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <p class="card-text ">
                    {{ treatment.description | safe }}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 card mb-4  mt-3 ">
    <div class="card-body">
        
        {% if user.is_authenticated %}
        <h3>Book an Appointment</h3>
        <form method="POST" style="margin-top: 1.3em;">
            {{ booking_form }}
            {% csrf_token %}
            <button type="submit" class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% else %}
        <h3>
            Log in to book an appointment
        </h3>
        {% endif %}

    </div>
</div>
{% endblock %}